#wrapper{
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/224/893/original/abstract-design-halftone-white-and-grey-background-decorative-website-layout-or-poster-banner-brochure-print-ad-illustration-vector.jpg);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr ;
    grid-template-areas: 
    "header"
    "main"
    "nav";
    font-size: 30px;
    padding:8px;
}
header{
    grid-area: header;
    text-align: center;
}
form{
    grid-area: form;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 1em;
    padding: 2em;
    text-align: center;
}
input{
    border-radius: 10px;
    font-size: 20px;

}
label{
    font-size: 30px;

}
nav{
    grid-area: nav;
    border-style: groove;
    border-radius: 10px;
    
}
nav ul{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0%;
    margin: 0%;
    

}
nav li{
    list-style: none;
    text-align: center;
    font-size: 2em; 
}

nav a{
    text-decoration: none;
    color: black;

}

#hej{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "section section"
    "section section";
    
}

#felix{
    background-image: url(https://4kwallpapers.com/images/wallpapers/pop-smoke-american-5120x2880-11137.jpg);
}

img{
    width: 600px;
}

section{
    text-align: center;
    
}
#hejd책{
   
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "section section"
    "section section";


}

#walter{
    background-image: url(https://cdn.wallpapersafari.com/99/0/0ykSfa.jpg);
}
#alem{
    background-image: url(https://wallpaperstock.net/grey-patterns_wallpapers_2638_1920x1080.jpg);
}
#hejd책hej{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "section section"
    "section section";


}
#hejd책hejd책{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "section section"
    "section section";


}

#leon{
    background-image: url(https://img1.wallspic.com/crops/7/6/6/8/48667/48667-angle-wood-logo-thrash_metal-music-1920x1080.jpg);
}

.quote{
    font-family: cursive;
    font-size: small;
    
}

#vit{
    color:white
}

iframe{
    width: 500px;
    height: 250px;
}