#wrapper{ /*för att designa ett specifikt element med ett id som jag valde att ha på en specifik body*/
    background-image: url(https://static.vecteezy.com/system/resources/previews/004/224/893/original/abstract-design-halftone-white-and-grey-background-decorative-website-layout-or-poster-banner-brochure-print-ad-illustration-vector.jpg);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr ;
    grid-template-areas: 
    "header"
    "main"
    "nav"
    "footer"
    ;
    font-size: 30px;
    padding:8px;


}
/* LoVe Focus HAte */ 
a:link{
    color:purple;
}

a:visited{
    color: navy;
}

a:focus{
    color: rgb(255,0,0);
}

a:hover{
    color:#0000ff;
}

a:active{
    color: green;
}
    


header{ /*header delen är en del av griden, lägger till något som att centrera texten*/
    grid-area: header;
    text-align: center;
}
form{ /*för att designa min form på inloggnings sidan */
    grid-area: form;
    margin: auto;
    border-width: 3px;
    border-style: solid;
    border-radius: 1em;
    padding: 2em;
    text-align: center;
}
input{ /*designar skriv fältets border och storlek i min form*/
    border-radius: 10px;
    font-size: 20px;

}
label{ /*designar inmatat text storlek i min form */
    font-size: 30px;

}
nav{ /*nav är en del av griden där jag designar border och stil*/
    grid-area: nav;
    border-style: groove;
    border-radius: 10px;
    
}
nav ul{ /*naven är uppdelad i 4 delar och är en del av griden, de ska även vara på rätt plats och ul är som ett barn till naven*/
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 0%;
    margin: 0%;
    

}
nav li{ /*designar navens utseende där jag ändrar storlek och centrerar även tar bort punkter*/
    list-style: none;
    text-align: center;
    font-size: 2em; 
}

nav a{ /*Så länkarna bara ser ut som text*/
    text-decoration: none;
    color: black;

}

    footer{
        grid-area: footer;
    }
    
    main{
        grid-area: main;
    }


#grid{
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "section section"
    "section section";
    
}

#grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "section section"
    "section ";
}



section > p{

}

body{
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "header"
    "main";
    
}

#bakgrund{
    background-image: url(https://4kwallpapers.com/images/wallpapers/pop-smoke-american-5120x2880-11137.jpg);
    
}

img{ /*ändrar bild på bredden*/
    width: 600px;
}

section{ /*centrerar allt som jag har i mina sections */
    text-align: center;
    
}


#bakgrund2{
    background-image: url(https://cdn.wallpapersafari.com/99/0/0ykSfa.jpg);
}
#bakgrund4{
    background-image: url(https://wallpaperstock.net/grey-patterns_wallpapers_2638_1920x1080.jpg);
}






#bakgrund3{
    background-image: url(https://www.myfreetextures.com/wp-content/uploads/2011/06/brushedsteel4.jpg);
}

.quote{ /*designar min klass där jag ändrar apperance och storlek */
    font-family: cursive;
    font-size: small;
    
}

#vit{
    color:#0B0B0B;
}

iframe{ /* ändrar storlek på min spelbara youtube video*/
    width: 500px;
    height: 250px;
}

@media screen and (max-width: 800px){ /* matchar webbläsarens/enhetens storlek som du är på*/

}
